// Theme Colors
$primary-color: #085E05C5;
$secondary-color: #c9e493;
$tertiary-color: #637AB9;
$quaternary-color: #31326F;
$main-background-color: #ffffff;
$text-color-dark: #000000;
$text-color-light: #ffffff;

// Typography
$font-family-main: 'Roboto', sans-serif;
$font-size-title: 2rem;
$font-size-subtitle: 1.5rem;
$font-size-body: 1rem;
$font-size-small: 0.875rem;

// Spacing
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;
$margin-small: 0.5rem;
$margin-medium: 1.5rem;
$margin-large: 3rem;

// Borders
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

// Shadows
$box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
