@use 'variables' as *;
@use 'community-grid';

// Applies basic styles globally
body {
  font-family: $font-family-main;
  background-color: $main-background-color;
  color: $text-color-dark;
  margin: 0;
  padding: 0;
}

// Add spacing to all page content except header
.page {
  padding: $margin-large;
  box-sizing: border-box;
}

// Visually hidden but accessible to screen readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
