@use 'variables' as *;
@use 'community-grid';

// Applies basic styles globally
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-main;
  background-color: $background-light;
  color: $text-color-dark;
  margin: 0;
  padding: 0;
  line-height: $line-height-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Add spacing to all page content except header
.page {
  padding: $margin-large;
  box-sizing: border-box;
}

// Main content wrapper
main[role="main"] {
  min-height: calc(100vh - 80px);
  padding-top: 2rem;
}

// Visually hidden but accessible to screen readers
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// Global button improvements
button {
  font-family: inherit;
  transition: all $transition-base;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }
}

// Global input improvements
input,
textarea,
select {
  font-family: inherit;
  transition: all $transition-base;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }
}