@import 'variables';

// Applies basic styles globally
body {
  font-family: $font-family-main;
  background-color: $main-background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

// Add spacing to all page content except header
.page {
  padding: $margin-medium;
  box-sizing: border-box;
}
